ion-card {
  margin-left: auto;
  margin-right: auto;
  background: white;
}

.frase {
  color: #2f80ed;
  font-size: 16px;
}

.autor {
  text-align: right;
  color: #333;
  font-size: 13px;
  font-weight: bold;
}

.icono-trash {
  width: 10%;
  margin-left: auto;
  margin-right: 90%;
}

