.zona-foto {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.contenedor-preview {
  position: relative;
  width: 130px;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.preview {
  width: 130px;
  height: 100px;
  object-fit: cover;
}

.btn-quitar-foto {
  position: absolute;
  top: -8px;
  right: -8px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}